{% extends "rest_framework:rest_framework/base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock style %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
    // https://github.com/systemjs/systemjs#ie11-support
    if (typeof URLSearchParams === 'undefined') {
        document.write('<script src="{% static 'djk/js/lib/url-search-params-polyfill.js' %}"><\/script>');
    }
    if (typeof CSS === 'undefined') {
        document.write('<script src="{% static 'djk/js/lib/css.escape.js' %}"><\/script>');
    }
    if (typeof Promise === 'undefined') {
        document.write('<script src="{% static 'djk/js/lib/bluebird.core.min.js' %}"><\/script>');
    }
    if (typeof fetch === 'undefined') {
        document.write('<script src="{% static 'djk/js/lib/fetch.umd.js' %}"><\/script>');
    }
    </script>
    <script src="{% static 'js/system.min.js' %}"></script>
    <script type="{{ deno_output_module_type }}" src="{% static 'components/main.js' %}"></script>
{% endblock script %}
