{% extends "admin:admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vue/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue/vue-router.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue/vue-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock footer %}
