{% extends "admin:admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock breadcrumbs %}

{% block content %}
    {{ block.super }}
{% endblock content %}

{% block footer %}
    {{ block.super }}
    <script>
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" src="{% static 'js/require/require.js' %}" data-main="{% static 'js/main.js' %}"></script>
{% endblock footer %}
