{% extends "base.html" %}

{% block content %}
<div id="app" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div id="main_menu">
            <ul>
                <li><router-link to="/">В начало</router-link></li>
                <li v-show="!$store.state.user.id"><router-link to="/signup">Зарегистрироваться</router-link></li>
                <li v-show="!$store.state.user.id"><router-link to="/login">Войти</router-link></li>
                <li v-show="$store.state.user.id"><router-link to="/logout"><span v-on:click="logout()">Выйти</span></li>
            </ul>
        </div>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    {{ vue_store|json_script:"vue_store_json" }}
    <script type="text/html" id="home_template">
        <div v-show="$store.state.user.id">Текущий пользователь: <span v-text="$store.state.user.email"></span></div>
    </script>
{% endblock footer %}
