{% extends "base.html" %}

{% block content %}
    <div id="app">
        <div id="main_menu">
            <ul>
                <li><router-link to="/">В начало</router-link></li>
                <li><router-link to="/signup">Зарегистрироваться</router-link></li>
                <li><router-link to="/login">Войти</router-link></li>
            </ul>
        </div>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    <script type="text/html" id="home_template">
        <div>Home</div>
    </script>
    <script type="text/html" id="signup_template">
        <div>
            <div><input v-model="form.first_name" placeholder="Имя"></div>
            <div><input v-model="form.last_name" placeholder="Фамилия"></div>
            <div><input v-model="form.email" placeholder="Адрес электронной почты"></div>
            <div>
                <div v-for="item in errors.password"><span v-text="item"></span></div>
                <div><input v-model="form.password" type="password" placeholder="Пароль"></div>
            </div>
            <div>
                <div v-for="item in errors.password2"><span v-text="item"></span></div>
                <div><input v-model="form.password2" type="password" placeholder="Пароль (повторно)"></div>
            </div>
            <div><input v-model="form.profile.eye_color.title" placeholder="Цвет глаз"></div>
            <div><input v-model="form.profile.birth_country.title" placeholder="Страна рождения"></div>
            <div><button v-on:click="submit()">Зарегистрироваться</button></div>
        </div>
    </script>
    <script type="text/html" id="login_template">
        <div>Login</div>
    </script>
{% endblock footer %}
