{% extends "base.html" %}

{% block content %}
<div id="app" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div id="main_menu">
            <ul>
                <li><router-link to="/">В начало</router-link></li>
                <li v-cloak v-if="!$store.state.user.id"><router-link to="/signup">Зарегистрироваться</router-link></li>
                <li v-cloak v-if="!$store.state.user.id"><router-link to="/login">Войти</router-link></li>
                <li v-cloak v-if="$store.state.user.id"><router-link to="/logout"><span v-on:click="logout()">Выйти</span></li>
            </ul>
        </div>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    {{ vue_store|json_script:"vue_store_json" }}
    <script type="text/html" id="home_template">
        <div v-if="$store.state.user.id">
            <div>Текущий пользователь: <span v-text="$store.state.user.username"></span></div>
            <div>Имя: <span v-text="$store.state.user.first_name"></span></div>
            <div>Фамилия: <span v-text="$store.state.user.last_name"></span></div>
            <div>Отчество: <span v-text="$store.state.user.profile.patronymic"></span></div>
            <div>День рождения: <span v-text="$store.state.user.profile.birth_date"></span></div>
            <div>Цвет глаз: <span v-text="$store.state.user.profile.eye_color.title"></span></div>
            <div>Страна рождения: <span v-text="$store.state.user.profile.birth_country.title"></span></div>
        </div>
    </script>
{% endblock footer %}
