<div>
    <bs-form :url="'/users/register/'" :form="form" :fields="fields" :select="select" :errors="errors"></bs-form>
    <form class="form-horizontal" v-on:submit.prevent="post('/users/register/', form)">
        <div class="form-group">
            <label class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-8">
                <input class="form-control" v-model="form.first_name">
                <div class="alert alert-warning" v-for="item in errors.first_name"><span v-text="item"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-8">
                <input class="form-control" v-model="form.last_name">
                <div class="alert alert-warning" v-for="item in errors.last_name"><span v-text="item"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Адрес электронной почты</label>
            <div class="col-sm-8">
                <input class="form-control" v-model="form.email">
                <div class="alert alert-warning" v-for="item in errors.email"><span v-text="item"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Пароль</label>
            <div class="col-sm-8">
                <input class="form-control" v-model="form.password" type="password">
                <div class="alert alert-warning" v-for="item in errors.password"><span v-text="item"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Пароль (повторно)</label>
            <div class="col-sm-8">
                <input class="form-control" v-model="form.password2" type="password">
                <div class="alert alert-warning" v-for="item in errors.password2"><span v-text="item"></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    </form>
</div>